body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
/* In one Line */
    /* font: 15px/1.5 arial, Helvetica, sans-serif; */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

.button_1{
    height: 40px;
    background-color: #e8491d;
    border: 0;
    padding: 0 20px 0 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #343434;
    color: #ffffff;
    margin: 20px 0 20px 0;
}

/* Header */
header{
    background-color: #343434;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header a:hover{
    color: #e8491d;
    font-weight: bold;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header li{
    display: inline;
    margin: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

/* ShowCase */
#showcase{
    min-height: 400px;
    background: url("../img/showcase.jpg") no-repeat 0 -450px;
    color: #ffffff;
    text-align: center;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    min-height: 20px;
    font-size: 20px;
}

/* News Letter */
#newsletter{
    background-color: #343434;
    color: #ffffff;
    padding: 15px;
    
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email']{
    padding: 10px;
    width: 250px;
    height: 20px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    border: lightslategray solid 1px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#boxes .box img{
    width: 120px;
}


/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;

}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
} 

/* Artical */
article#main-col{
    float: left;
    width: 65%;
}

/* Services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccc solid 1px;
    background: #e6e6e6;
    margin-bottom: 10px;
}



/* Footer */
footer{
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/* Media queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }

}